/* Bootstrap */
.gi-properties .chzn-container {
  width: 100% !important;
  max-width: 220px !important;
}
.ial-modal,
.ial-window .chzn-container {
  display: none;
}
.ial-window select.loginTxt {
  display: block !important;
}

.nav.nav-tabs,
.nav.nav-pills,
.gi-properties .table,
.gi-properties input[type=text],
.gi-properties input[type=checkbox],
.gi-properties textarea {
  margin: 0;
  resize: vertical;
}
.gi-properties form {
  margin: 0 0 1px;
}
.nav-tabs .active {
  display: list-item;
}
.gi-properties fieldset input[type=radio] {
  margin-top: 0;
  clear: both;
}
.gi-properties fieldset label {
  float: left;
}
.gi-properties .star {
  display: none;
}
.gi-properties .table td {
  vertical-align: middle;
  background: #f9f9f9;
  -webkit-box-shadow: inset 0 1px 0 #fff;
  box-shadow: inset 0 1px 0 #fff;
}
.gi-properties .control-label {
  text-align: right;
  width: 25%;
  padding-right: 0;
  line-height: 0;
}
.gi-properties .table th {
  font-size: 12px;
  padding-bottom: 4px;
}
.gi-properties label {
  display: inline;
  margin: 0;
  font-size: 12px;
  line-height: normal;
}
.gi-properties .tab-content {
  border: 1px solid #DDDDDD;
  border-top: none;
  -webkit-border-radius: 0px 0px 4px 4px;
  border-radius: 0px 0px 4px 4px;
}
.field-icon input[type=text] {
  display: none;
}
/* jQuery UI */
.ui-sortable * {
  cursor: default;
}
.ui-state-disabled {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.ui-accordion .ui-accordion-content {
  padding: 10px 10px;
}
/* Custom */
.gi-elem-name .icon-pencil:before {
  color: #333333;
}
.ui-accordion .gi-elem,
.gi-selectable .gi-elem-name {
  display: none;
}
.gi-selectable {
  position: relative;
}
.del-elem {
  position: absolute;
  right: -9px;
  top: -9px;
  width: 18px !important;
  height: 18px !important;
  margin-right: 0 !important;
  background: #fff;
  border-radius: 50%;
  color: #fd1545;
  font-size: 18px;
  line-height: 18px !important;
  cursor: pointer;
  z-index: 999;
}
.ial-translate .del-elem,
body > .del-elem {
  display: none;
}
.ui-sortable-helper .del-elem {
  display: none;
}
.ui-accordion .gi-elem-name {
  font-size: 12px;
  padding: 2px 8px;
  margin: 2px 0;
  display: block;
  text-align: left;
  cursor: move;
}
#design-layer .ui-sortable-helper.gi-selected,
#design-layer .gi-selectable {
  outline: 1px solid transparent;
  margin: 0;
}
#design-layer .gi-selected {
  outline: 1px dotted #0088CC;
}
#design-layer .ui-sortable-placeholder.gi-selected,
#design-layer .ui-sortable-placeholder {
  visibility: visible !important;
  outline: 1px dashed #0088CC;
}
.gi-elem textarea,
.gi-elem input[type=password],
.gi-elem input[type=text] {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
}
#design-layer .gi-selectable {
  float: left;
}
#design-layer .gi-wide {
  width: 100%;
}
#design-layer .gi-wide .gi-elem {
  width: auto;
}
/*
.gi-elem.gi-wide {
  padding-top: 0;
}
*/
input[type=text].input-block-level,
textarea.input-block-level {
  font-size: 12px;
  line-height: 16px;
  min-height: 24px;
}
.gi-courier {
  font-family: "courier new";
}
.gi-selectable .gi-elem {
  float: none;
}
.gi-move, .gi-move * {
  cursor: move;
}
.gi-clear {
  clear: both;
}
.gi-click {
  cursor: pointer;
}
.hidden {
  visibility: hidden;
}
.disabled {
  cursor: default !important;
}
#design-layer,
.gi-elem {
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

/* Theme */
.ial-window {
  visibility: visible;
  position: static;
  display: inline-block;
  margin: 0;
  line-height: 0;
  overflow: visible;
}
#design-layer {
  position: static;
  display: inline-block;
  text-align: left;
  min-height: 40px;
}
.gi-elegant #design-layer {
  padding: 15px 10px 8px;
}
.gi-flat #design-layer {
  padding: 0 0 18px;
}
.gi-flat div[data-elem=title] .gi-elem {
  padding: 0;
}

/* manage dropdown list */
.ial-opts {
  display: block !important;
  max-height: 122px;
  overflow-y: auto;
}
.ial-opts a {
  margin-left: 5px;
}
.ial-opts input[type=radio] {
  margin: 0;
}
.ial-opts input[type=text] {
  margin-left: 5px;
  padding: 0 3px;
  font-size: 12px;
  width: 29%;
  box-shadow: none;
}
.ial-opt {
  margin: 2px 0;
}
.ial-opt label {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  width: 16px;
  line-height: 15px;
  margin-left: 5px;
}
.ial-opt .icon-trash {
  color: #fd1545;
}
.ial-opt .icon-plus {
  color: #4cb906;
}

li.active.getfields a {
  cursor: pointer;
}

.ial-admin .gi-properties,
.ial-admin .ui-accordion-header,
.ial-admin .gi-elem-name,
.ial-admin .nav-tabs a {
  font-family: "Montserrat", sans-serif;
}

.ial-admin .ui-accordion .ui-accordion-header {
  padding: 0 0 0 2.2em;
  line-height: 35px;
}
.ial-admin .ui-accordion .ui-draggable {
  display: block;
  float: left;
  width: 49%;
}
.ui-draggable-dragging {
  width: auto !important;
}
.ial-admin .ui-accordion .gi-elem-name {
  font-size: 10px;
  padding: 5px 13px;
  margin:  2px 4px;
  text-align: center;
  height: 54px;
  overflow: hidden;
  line-height: 11px;
  color: #404040;
  background: #f5f5f5;
  border: 1px solid rgba(0,0,0,0.05);
  box-shadow: none;
}
.ial-admin .ial-btn {
  display: block;
  box-shadow: none;
  background: #f0f0f0;
}
.ial-admin .nav-tabs i,
.ial-admin .ui-accordion .gi-elem-name i {
  display: block;
  margin: 12px auto 10px;
  font-size: 30px;
  line-height: 14px;
  width: auto;
  height: 15px;
}
.ial-admin .nav-tabs a {
  padding: 8px 17px;
}
.ial-admin textarea.input-block-level,
.ial-admin input[type=text].input-block-level {
  border: 1px solid #ddd;
  box-shadow: none;
  min-height: 30px;
}
.ial-admin textarea.input-block-level {
  min-height: 40px;
}

.ial-columns.radio {
  padding-left: 0;
}
.ial-columns input {
  display: none;
}
.ial-columns label {
  margin-right: 10px;
  text-align: center;
}
.ial-columns img {
  margin: 8px 0 5px;
}
.ial-columns span {
  padding: 1px 8px;
  border-radius: 10px;
}
.ial-columns input:checked + label span {
  background: #4cb906;
  color: #fff;
}

.ls-ruler {
  position: relative;
  background: #f5f5f5;
  padding: 16px !important;
}
.ls-ruler [class^=ls-ruler] {
  margin: 0;
  border: 0;
  padding: 0;
}
.ls-ruler .ls-ruler-x, .ls-ruler .ls-ruler-y {
  position: absolute;
  background: #fff;
  font-size: 50px;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.ls-ruler .ls-ruler-unit:before, .ls-ruler .ls-ruler-unit:after {
  content: "";
  position: absolute;
}
.ls-ruler .ls-ruler-num {
  position: absolute;
  font-family: verdana, arial !important;
  font-size: 10px;
  line-height: .9em;
  color: #6c6c6c;
  cursor: default;
}

.ls-ruler-x {
  top: 0;
  left: 16px;
  right: 0;
  height: 16px;
  box-shadow: inset 0 -1px 0 0 #acacac;
}
.ls-ruler-x .ls-ruler-wrapper {
  width: 10000px;
  height: 100%;
}
.ls-ruler-x .ls-ruler-tracker {
  position: absolute;
  top: 0;
  left: -1px;
  height: 100%;
  border-left: 1px solid red;
}
.ls-ruler-x .ls-ruler-unit {
  position: relative;
  width: 1em;
  height: 100%;
  float: left;
  box-shadow: inset 1px 0 0 #acacac;
}
.ls-ruler-x .ls-ruler-unit:before {
  top: 10px;
  left: 0;
  width: 1px;
  height: 100%;
  box-shadow: 0.2em 0 0 0 #acacac, 0.4em 0 0 0 #acacac, 0.6em 0 0 0 #acacac, 0.8em 0 0 0 #acacac;
}
.ls-ruler-x .ls-ruler-unit:after {
  top: 12px;
  left: 0;
  width: 1px;
  height: 100%;
  box-shadow: 0.1em 0 0 0 #acacac, 0.3em 0 0 0 #acacac, 0.5em 0 0 0 #acacac, 0.7em 0 0 0 #acacac, 0.9em 0 0 0 #acacac;
}
.ls-ruler-x .ls-ruler-num {
  top: 1px;
  left: 2px;
}

.ls-ruler-y {
  top: 16px;
  bottom: 0;
  left: 0;
  width: 16px;
  box-shadow: inset -1px 0 0 0 #acacac;
}
.ls-ruler-y .ls-ruler-tracker {
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  border-top: 1px solid red;
}
.ls-ruler-y .ls-ruler-unit {
  position: relative;
  width: 100%;
  height: 1em;
  box-shadow: inset 0 1px 0 #acacac;
}
.ls-ruler-y .ls-ruler-unit:before {
  top: 0;
  left: 10px;
  width: 100%;
  height: 1px;
  box-shadow: 0 0.2em 0 0 #acacac, 0 0.4em 0 0 #acacac, 0 0.6em 0 0 #acacac, 0 0.8em 0 0 #acacac;
}
.ls-ruler-y .ls-ruler-unit:after {
  top: 0;
  left: 12px;
  width: 100%;
  height: 1px;
  box-shadow: 0 0.1em 0 0 #acacac, 0 0.3em 0 0 #acacac, 0 0.5em 0 0 #acacac, 0 0.7em 0 0 #acacac, 0 0.9em 0 0 #acacac;
}
.ls-ruler-y .ls-ruler-num {
  top: 3px;
  left: 1px;
  width: 1px;
  word-wrap: break-word;
}

.ial-file input, .ial-image input {
  pointer-events: none;
}
.tr-accept label {
  padding-left: 10px;
}

.gi-size {
  width: 30px;
}
